<div class = "card">
<!--  <div class = "card single-card" *ngFor="let card in cards">-->
    <mat-card class="card__example-card">
      <mat-card-title class = "card__example-card__header__title">Name:<span>Pedro</span></mat-card-title>
      <mat-card-title class = "card__example-card__header__subtitle">Species:<span>Pedro</span></mat-card-title>
      <mat-card-title class = "card__example-card__header__subtitle">Movies:<span>Episode4, Episode5, Episode6, Episode7</span></mat-card-title>
      <mat-card-title class = "card__example-card__header__subtitle">Spaceship:<span>Falcon</span></mat-card-title>
      <img mat-card-image class = "card__example-card__image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
<!--  </div>-->
</div>
