<div class = "card">
  <div class = "card single-card" *ngFor="let card of data">
    <mat-card class="card__example-card">
      Esse
<!--      <mat-card-title class = "card__example-card__header__title">Name:<span>{{card.films}}</span></mat-card-title>-->
<!--      <mat-card-title class = "card__example-card__header__subtitle">Species:<span>{{card.species}}</span></mat-card-title>-->
<!--      <mat-card-title class = "card__example-card__header__subtitle">Movies:<span>{{card.films}}</span></mat-card-title>-->
<!--      <mat-card-title class = "card__example-card__header__subtitle">Spaceship:<span>{{card.starships}}</span></mat-card-title>-->
<!--      <img mat-card-image class = "card__example-card__image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    </mat-card>
  </div>
</div>
